@import "utils/mixins.scss";

.capture-scene {
  height: 1920px;
  width: 1080px;
  position: relative;

  background-color: #eee;
}

.background {
  height: 100%;
  width: 100%;
  background-color: #000;
  background: linear-gradient(180deg, #000000 0%, #236bad 70.87%);
  position: relative;
  overflow: hidden;
}

.sky {
  position: absolute;
  width: 100%;
  top: 5px;
  z-index: 9;
}

.sky > .clouds {
  position: absolute;
  width: 100%;
  top: 50px;

  z-index: 4;
}

.sky > .moon {
  position: absolute;
  width: 375px;
  height: 375px;
  right: 46px;
  top: 35px;
  z-index: 8;

  > .img {
    position: absolute;
    width: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
  }

  > .blur {
    position: absolute;
    top: 0;
    z-index: 6;
  }
}

.sky > .fireworks-1 {
  position: absolute;
  width: 1046px;
  height: 494px;
  top: 75px;
  left: 136px;
  z-index: 7;
}

.sky > .fireworks-2 {
  position: absolute;
  width: 783px;
  height: 494px;
  top: 49px;
  left: 47px;
  z-index: 7;
}

.sky > .fireworks-3 {
  position: absolute;
  width: 174px;
  height: 200px;
  top: 55px;
  left: 551px;
  z-index: 7;
}

.sky > .fireworks-4 {
  position: absolute;
  width: 205px;
  height: 205px;
  top: 45px;
  left: 741px;
  z-index: 7;
}

.sky > .fireworks-5 {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 55px;
  right: 401px;
  z-index: 7;
}

.sky > .fireworks-6 {
  position: absolute;
  width: 255px;
  height: 255px;
  top: 65px;
  right: 19px;
  z-index: 7;
}

.sala-side {
  position: absolute;
  left: 22px;
  z-index: 31;
  top: calc(-14vw - 165px);
  width: calc(37vw + 172px);
  max-width: 450px;

  @include breakpoint(sm) {
    top: -317px;
    width: calc(40vw + 150px);
  }
}

.loying-kratong {
  position: absolute;
  z-index: 35;
  top: -111px;
  left: 183px;
  cursor: pointer;
}

.background {
  > .waterfour-container {
    position: absolute;
    left: calc(-2vw - 50px);
    z-index: 10; /* change later */
    bottom: 100px;
  }

  > .waterthree-container {
    position: absolute;
    left: calc(-2vw - 50px);
    z-index: 20; /* change later */

    bottom: 150px;
  }

  > .watertwo-container {
    position: absolute;
    left: calc(-2vw - 50px);
    z-index: 30; /* change later */

    bottom: calc(-13vw - 175px);
  }

  > .waterone-container {
    position: absolute;
    left: calc(-2vw - 50px);
    z-index: 40; /* change later */
    bottom: 137px;
  }
}

.buildings {
  position: absolute;
  z-index: 5;
  display: flex;
  top: -166px;
  width: 300vw;
}
