.kratong {
  --size: 512px;
  width: var(--size);
  position: relative;
}

.kratong > .base {
  display: inline-block;

  > .flowers {
    position: absolute;
    z-index: 6;
    top: 0;
  }

  > .shell {
    z-index: 7;
    position: absolute;
    top: 0;
  }
}
.kratong > .topping {
  > .candle {
    position: absolute;
    z-index: 4;
    top: 0;
  }

  > .decorations {
    position: absolute;
    z-index: 3;
    top: 0;
  }
}
