.kratong {
  --size: 512px;
  width: var(--size);
  position: relative;
}

.kratong > .base {
  display: inline-block;

  > .flowers {
    position: absolute;
    z-index: calc(var(--z-index) - 1);
    top: 0;
  }

  > .shell {
    z-index: var(--z-index);
    position: absolute;
    top: 0;
  }
}
.kratong > .topping {
  > .candle {
    position: absolute;
    z-index: calc(var(--z-index) - 2);
    top: 0;
  }

  > .decorations {
    position: absolute;
    z-index: calc(var(--z-index) - 3);
    top: 0;
  }
}
