.kratong {
  --size: 512px;
  width: var(--size);
  position: relative;
  z-index: var(--z-index);
}

.aura {
  width: calc(var(--size) + 50px);
  height: calc(var(--size) + 50px);
  top: 0;
  left: -25px;
  position: relative;
  background-color: #fef3c7;
  opacity: 30%;
  border-radius: 9999px;
  filter: blur(10px);
}

.caura {
  width: calc(var(--size) + 150px);
  height: calc(var(--size) + 150px);
  top: 0;
  left: -85px;
  position: relative;
  background-color: #fef3c7;
  background: radial-gradient(50% 50% at 50% 50%, #fdf188 0%, rgba(247, 244, 159, 0) 100%);
  opacity: 0.5;
  border-radius: 9999px;
  filter: blur(10px);
}

.kratong > .base {
  display: inline-block;

  > .flowers {
    position: absolute;
    z-index: calc(var(--z-index) - 1);
    top: 0;
  }

  > .shell {
    z-index: var(--z-index);
    position: absolute;
    top: 0;
  }
}
.kratong > .topping {
  > .candle {
    position: absolute;
    z-index: calc(var(--z-index) - 2);
    top: 0;
  }

  > .decorations {
    position: absolute;
    z-index: calc(var(--z-index) - 3);
    top: 0;
  }
}
