@import "utils/mixins.scss";

.loy-scene {
  width: 175vw;
  height: 100vh;
}

.background {
  width: 175vw;
  height: 100vh;
  background-color: #000;
  background: linear-gradient(180deg, #000000 0%, #236bad 70.87%);
  position: relative;
  overflow: hidden;
}

.sky {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.sky > .clouds {
  position: absolute;
  width: 100%;
  top: 50px;

  z-index: 5;
}

.sky > .moon {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 25vw;
  top: 75px;
  z-index: 4;

  > .img {
    position: absolute;
    width: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
  }

  > .blur {
    position: absolute;
    top: 0;
    z-index: 6;
  }
}

@keyframes water {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }

  12.5%,
  37.5% {
    transform: translateY(5px);
  }
  62.5%,
  87.5% {
    transform: translateY(-5px);
  }
}

.sala-side {
  position: absolute;
  left: 0;
  z-index: 51;
  top: 30%;
  width: 65vw;

  @breakpoint (sm) {
    top: 20%;
    width: 45vw;
  }
  animation-name: water;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 350ms;
}

.background {
  > .waterfour {
    position: absolute;
    z-index: 10;
    bottom: -124px;
    left: -68px;
    animation-name: water;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 550ms;
  }

  > .waterthree {
    position: absolute;
    z-index: 20;
    bottom: -211px;
    left: -292px;
    animation-name: water;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 450ms;
  }

  > .watertwo {
    position: absolute;
    z-index: 30;
    bottom: -321px;
    left: -172px;
    animation-name: water;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 350ms;
  }

  > .waterone {
    position: absolute;
    z-index: 40;
    bottom: -423px;
    left: -238px;
    animation-name: water;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 250ms;
  }
}
