@import "utils/mixins.scss";

.loy-scene {
  width: 175vw;
  height: 100vh;
}

.background {
  width: 175vw;
  height: 100vh;
  background-color: #000;
  background: linear-gradient(180deg, #000000 0%, #236bad 70.87%);
  position: relative;
  overflow: hidden;
}

.sky {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.sky > .clouds {
  position: absolute;
  width: 100%;
  top: 50px;

  z-index: 5;
}

.sky > .moon {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 25vw;
  top: 75px;
  z-index: 4;

  > .img {
    position: absolute;
    width: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
  }

  > .blur {
    position: absolute;
    top: 0;
    z-index: 6;
  }
}

.sala-side {
  position: absolute;
  left: 241px;
  z-index: 31;
  top: -209px;
  width: 65vw;
  max-width: 450px;

  @include breakpoint(sm) {
    top: -209px;
    width: calc(40vw + 150px);
  }
}

.background {
  > .waterfour-container {
    position: absolute;
    left: 0;
    bottom: calc((4 * (48vh / 4)) - 50vh + 125px);
    z-index: 10;
  }

  > .waterthree-container {
    position: absolute;
    left: 0;
    bottom: calc((3 * (48vh / 4)) - 50vh + 125px);
    z-index: 20;
  }

  > .watertwo-container {
    position: absolute;
    left: 0;
    bottom: calc((2 * (48vh / 4)) - 50vh + 125px);
    z-index: 30;
  }

  > .waterone-container {
    position: absolute;
    left: 0;
    bottom: calc((1 * (48vh / 4)) - 50vh + 125px);
    z-index: 40;
  }
}
