.kratong {
  --size: 512px;
  display: flex;
  margin-bottom: -60px;
  flex-direction: column;
  z-index: 5;
}

.kratong > .base {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  width: var(--size);

  > .swan > .container {
    position: relative;
    z-index: 4;
    width: calc(var(--size) - 43px);
    top: -10px;
    left: 25px;
  }

  > .shell {
    > .container {
      z-index: 6;
      position: absolute;
      top: calc(var(--size) / 2 + -14px);
      left: 5px;
      width: calc(var(--size) + -9px);
    }
  }
}
.kratong > .topping {
  margin-bottom: 36px;

  > .candle {
    position: absolute;
    z-index: 3;
    width: calc(var(--size) / 3);
    top: calc(var(--size) / 3 - 36px);
    left: calc(var(--size) / 2 - 4px);
  }

  > .decorations {
    --offset-y: 0px;
    width: calc(var(--size) / 4 + 13px);
    left: 2px;

    > .container {
      position: absolute;
      z-index: 2;
      top: calc(var(--size) / 4 + 4px);
      left: 7px;
    }
  }
}

.scene {
  height: 100vh;
  background-color: #281981;
  background: linear-gradient(182.71deg, #281981 -2.41%, #3a71b3 47.53%, #1a3270 100.68%);
}
