.kratong {
  --size: 512px;
  width: var(--size);
  position: relative;
}

.aura {
  width: calc(var(--size) + 50px);
  height: calc(var(--size) + 50px);
  top: 0;
  left: -25px;
  position: relative;
  background-color: #fef3c7;
  opacity: 30%;
  border-radius: 9999px;
  filter: blur(10px);
}

.kratong > .base {
  display: inline-block;

  > .swan {
    position: absolute;
    z-index: calc(var(--z-index) - 1);
    top: 0;
  }

  > .shell {
    z-index: var(--z-index);
    position: absolute;
    top: 0;
  }
}
.kratong > .topping {
  > .candle {
    position: absolute;
    z-index: calc(var(--z-index) - 2);
    top: 0;
  }

  > .decorations {
    position: absolute;
    z-index: calc(var(--z-index) - 3);
    top: 0;
  }
}

.scene {
  height: 100vh;
  background-color: #281981;
  background: linear-gradient(182.71deg, #281981 -2.41%, #3a71b3 47.53%, #1a3270 100.68%);
}
