.kratong {
  margin-top: 50px;
}

.kratong > .base {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  min-width: 512px;
  min-height: 512px;

  > .container {
    position: absolute;
    top: 0;
    left: 0;

    > .img {
      object-fit: cover;
      height: 100%;
    }
  }
}

.kratong > .decorations {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  min-width: 512px;
  min-height: 512px;

  > .container {
    position: absolute;
    top: 0;
    left: 0;

    > .img {
      object-fit: cover;
      height: 100%;
    }
  }
}

.kratong > .flowers {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  min-width: 512px;
  min-height: 512px;

  > .container {
    position: absolute;
    top: 0;
    left: 0;

    > .img {
      object-fit: cover;
      height: 100%;
    }
  }
}
